   <section id="footer-area">
            <!-- Footer Widget Start -->
            <div class="footer-widget-area">
                <div class="container">
                    <div class="row">
                        <!-- Single Footer Widget Start -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-footer-widget">
                                <h2>About Us</h2>
                                <div class="widget-body">
                                    <img src="view/assets/img/logo.png" alt="JSOFT">
                                    <p>Lorem ipsum dolored is a sit ameted consectetur adipisicing elit. Nobis magni assumenda distinctio debitis, eum fuga fugiat error reiciendis.</p>

                                    <div class="newsletter-area">
                                        <form action="index.html">
                                            <input type="email" placeholder="Subscribe Our Newsletter">
                                            <button type="submit" class="newsletter-btn"><i class="fa fa-send"></i></button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Widget End -->

                        <!-- Single Footer Widget Start -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-footer-widget">
                                <h2>get touch</h2>
                                <div class="widget-body">
                                    <p>Lorem ipsum doloer sited amet, consectetur adipisicing elit. nibh auguea, scelerisque sed</p>

                                    <ul class="get-touch">
                                        <li><i class="fa fa-map-marker"></i> 800/8, Kazipara, Dhaka</li>
                                        <li><i class="fa fa-mobile"></i> +880 01 86 25 72 43</li>
                                        <li><i class="fa fa-envelope"></i> kazukamdu83@gmail.com</li>
                                    </ul>
                                    <a href="https://goo.gl/maps/b5mt45MCaPB2" class="map-show" target="_blank">Show Location</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Widget End -->
                    </div>
                </div>
            </div>
            <!-- Footer Widget End -->

        </section>
        <!--== Footer Area End ==-->

        <!--== Scroll Top Area Start ==-->
        <div class="scroll-top">
            <img src="<?php echo IMG_PATH ?>scroll-top.png" alt="JSOFT">
        </div>
        <!--== Scroll Top Area End ==-->

        <!--=======================Javascript============================-->
        <!--=== Jquery Min Js ===-->
        <script src="<?php echo JS_PATH ?>jquery-3.2.1.min.js"></script>
        <!--=== Jquery Migrate Min Js ===-->
        <script src="<?php echo JS_PATH ?>jquery-migrate.min.js"></script>
        <!--=== Popper Min Js ===-->
        <script src="<?php echo JS_PATH ?>popper.min.js"></script>
        <!--=== Bootstrap Min Js ===-->
        <script src="<?php echo JS_PATH ?>bootstrap.min.js"></script>
        <!--=== Gijgo Min Js ===-->
        <script src="<?php echo PLUGINS_JS_PATH ?>gijgo.js"></script>
        <!--=== Vegas Min Js ===-->
        <script src="<?php echo PLUGINS_JS_PATH ?>vegas.min.js"></script>
        <!--=== Isotope Min Js ===-->
        <script src="<?php echo PLUGINS_JS_PATH ?>isotope.min.js"></script>
        <!--=== Owl Caousel Min Js ===-->
        <script src="<?php echo PLUGINS_JS_PATH ?>owl.carousel.min.js"></script>
        <!--=== Waypoint Min Js ===-->
        <script src="<?php echo PLUGINS_JS_PATH ?>waypoints.min.js"></script>
        <!--=== CounTotop Min Js ===-->
        <script src="<?php echo PLUGINS_JS_PATH ?>counterup.min.js"></script>
        <!--=== YtPlayer Min Js ===-->
        <script src="<?php echo PLUGINS_JS_PATH ?>mb.YTPlayer.js"></script>
        <!--=== Magnific Popup Min Js ===-->
        <script src="<?php echo PLUGINS_JS_PATH ?>magnific-popup.min.js"></script>
        <!--=== Slicknav Min Js ===-->
        <script src="<?php echo PLUGINS_JS_PATH ?>slicknav.min.js"></script>
        <!--=== Mian Js ===-->
        <script src="<?php echo JS_PATH ?>main.js"></script>

        <script src="<?php echo CONTACT_JS_PATH ?>contact.js"></script>

        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYBqPCEm_Bj6ZWtiaZyefEea0KLYQA8K8&callback=initMap">
        </script>
