<section id="lgoin-page-wrap" class="section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-8 m-auto">
				<div class="login-page-content">
					<div class="login-form">
						<h3>Sign Up</h3>
						<form autocomplete="on" method="post" name="registro" id="registro">
							<div class="rusername">
								<input type="text" id="rusername" name="rusername" placeholder="Username"/>
								<span id="e_rruser" class="styerror"></span>
							</div>
							<div class="rmail">
								<input type="email" id="rmail" name="rmail" placeholder="Email">
								<span id="e_rmail" class="styerror"></span>
							</div>
							<div class="password">
								<input type="password" id="rpasswd" name="rpasswd" placeholder="Password"/>
								<span id="e_rpasswd" class="styerror"></span>
							</div>
							<div class="repPassword">
								<input type="password" id="repPassword" name="repPassword" placeholder="Repeat Password"/>
								<span id="e_repPassword" class="styerror"></span>
							</div>
							<div class="log-btn">
								<button type="button" name="registro2" id="registro2"><i class="fa fa-check-square"></i>Sign Up</button>
							</div>
						</form>
					</div>
					
					<div class="login-other">
						<span class="or">or</span>
						<a href="#" class="login-with-btn facebook"><i class="fa fa-facebook"></i> Signup With Facebook</a>
						<a href="#" class="login-with-btn google"><i class="fa fa-google"></i> Signup With Google</a>
					</div>
					<div class="create-ac">
						<p>Have an account? <a href="index.php?page=controller_login&op=viewlogin">Sign In</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>