    <!--== Page Title Area Start ==-->
    <section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>Contact Us</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>
    <!--== Page Title Area End ==-->

    <div id="map"></div>

    <!--== Contact Page Area Start ==-->
    <div class="contact-page-wrao section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="contact-form">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="name-input">
                                        <input type="text" id="fullname" name="fullname" required="required" placeholder="Full Name">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="email-input">
                                        <input type="email" id="correo" name="correo" required="required" placeholder="Email Address">
                                    </div>
                                </div>
                            </div>

                            <div class="message-input">
                                <textarea name="review" id="message" name="message" cols="30" rows="5" placeholder="Message"></textarea>
                            </div>

                            <div class="input-submit">
                                <button name="send" id="send" type="submit">Submit Message</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="<?php echo IMG_PATH; ?>ajax-loader.gif" alt="ajax loader icon" class="ajaxLoader" /><br/><br/>
    <div id="rltsendmessage" style="display: none;"></div>